@import "tailwindcss";



.logo {
    height: 18em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.UrChoice:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/*-----------------*/


#trapezium {
    width: 25em; /* Base superior del trapecio */
    height: 0;
    border-left: 50px solid transparent; /* Lado izquierdo inclinado */
    border-right: 50px solid transparent; /* Lado derecho inclinado */
    border-bottom: 60px solid #00e1ff; /* Altura del trapecio y su color */
    
  
}

#trapezium-rotate {
    width: 25em; /* Base superior del trapecio */
    height: 0;
    border-left: 50px solid transparent; /* Lado izquierdo inclinado */
    border-right: 50px solid transparent; /* Lado derecho inclinado */
    border-bottom: 60px solid #ff0000; /* Altura del trapecio y su color */
    margin-top: 2em;
    rotate: calc(180deg);
}
#trapezium-Test {
    width: 25em; /* Base superior del trapecio */
    height: 0;
    border-left: 0px solid transparent; /* Lado izquierdo inclinado */
    border-right: 0px solid transparent; /* Lado derecho inclinado */
    border-bottom: 60px solid #54ff05; /* Altura del trapecio y su color */
    margin-top: 2em;

}

.z-negative {
    z-index: -1;
}
